node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

dist/
build/
out/
release/

*.asar
*.asar.unpacked/

.cache/
.eslintcache

logs/
*.log
*.gz

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

*.json
userData.json
userdata.json

*.asar